<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" schema="Log4J-V2.8.xsd">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS}:[%p][%t] %r   %l %m%n"/>
            <!--<PatternLayout pattern="%d[%p][%t]%c{1.} %m%n"/>-->
        </Console>
        <RollingFile name="defaultAppender" fileName="@log.path@/default.log"
                     filePattern="@log.path@/default-%d{yyyy-MM-dd}.log" immediateFlush ="true">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS}:[%p][%t] %r   %l %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </RollingFile>
        <RollingFile name="sqlAppender" fileName="@log.path@/sql.log"
                     filePattern="@log.path@/sql-%d{yyyy-MM-dd}.log" immediateFlush ="true">
            <PatternLayout>
                <pattern>%d %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </RollingFile>
        <RollingFile name="authAppender" fileName="@log.path@/auth.log"
                     filePattern="@log.path@/auth-%d{yyyy-MM-dd}.log" immediateFlush ="true">
            <PatternLayout>
                <pattern>%d %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="NEUTRAL"/>
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="${log.level}">
            <AppenderRef ref="defaultAppender"/>
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Logger name="io.undertow" level="info" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="io.netty" level="info" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="org.springframework" level="info" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->
        <!--<Logger name="net.sf.ehcache" level="info" additivity="false">-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->

        <Logger name="druid.sql" level="${log.level}" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="sqlAppender"/>
        </Logger>

        <Logger name="com.libfun" level="${log.level}">
            <AppenderRef ref="defaultAppender"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <!--<Logger name="com.libfun.common.interceptor.AuthInterceptor" level="${log.level}">-->
            <!--<AppenderRef ref="defaultAppender"/>-->
            <!--<AppenderRef ref="Console"/>-->
        <!--</Logger>-->

        <!--自定义-->
    </Loggers>

</Configuration>